{% extends "base.html" %}

{% block body %}

        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a id="detail" style="text-decoration: none">Update avatar</a>
                </h1>
            </div>
        </div>
        <div id="buttons" class="grid" hidden="true">
            <a href="../contacts/create_contact" class="btn btn-primary">Add new contact</a>
            <a href="../contacts" class="btn btn-primary" class="secondary">Contacts</a>
        </div>
    <div class="col-md-3">
        <div class="row" id="contactsRow">
            <div class="col-sm-4 mb-3 mb-sm-0" id="contactsCol">
                <div class="card">
                <img src="" class="card-img-top" alt="" id="avatar">
            </div>
        </div>
        <form>
            <div>
                <label>Avatar</label>
                <input type="file" class="form-control" name="avatar" required>
            </div>
            <div class="alert alert-danger" role="alert" id="message" hidden="true"></div>
            <div class="grid">
                <button class="btn btn-primary" type="submit">Apply</button>
                <button class="btn btn-primary" type="reset" class="secondary">Reset</button>
            </div>
        </form>
    </div>
    <script src="{{url_for('routes_static', path='/edit_avatar.js')}}"></script>

{% endblock %}