{% extends "base.html" %}

{% block body %}

        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a href="" style="text-decoration: none">SingIn</a>
                </h1>
            </div>
        </div>
        <br>
    <div class="col-md-3">
        <form>
            <div>
                <label>Email address</label>
                <input type="email" class="form-control" name="username" placeholder="example@example.com">
            </div>

            <div>
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="alert alert-danger" role="alert" id="message" hidden="true">
            
            </div>
            <div class="grid">
                <button class="btn btn-primary" type="submit">SingIn</button>
                <button class="btn btn-primary" type="reset" class="secondary">Reset</button>
            </div>
        </form>
    </div>
    <script src="{{url_for('routes_static', path='/singin.js')}}"></script>

{% endblock %}