{% extends "base.html" %}

{% block body %}

        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a id="detail" style="text-decoration: none">SingUp</a>
                </h1>
            </div>
        </div>
        <div id="buttons" class="grid" hidden="true">
            <a href="../auth/singup" class="btn btn-primary">SingUp</a>
            <a href="../auth/singin" class="btn btn-primary" class="secondary">SingIn</a>
        </div>
    <div class="col-md-3">
        <form>
            <div>
                <label>User name<label class="text-danger-emphasis">*</label></label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div>
                <label>Job<label class="text-danger-emphasis">*</label></label>
                <input type="text" class="form-control" name="job">
            </div>
            <div>
                <label>Avatar</label>
                <input type="file" class="form-control" name="avatar">
            </div>
            <div class="grid">
                <button class="btn btn-primary" type="submit">SingUp</button>
                <button class="btn btn-primary" type="reset" class="secondary">Reset</button>
            </div>
        </form>
    </div>
    <script src="{{url_for('routes_static', path='/singup.js')}}"></script>

{% endblock %}